.container {
  width: 900px;
  margin: 0 auto;
}

.table-content-12 {
  margin: 0 auto;
  color: #232323;
  border-collapse: collapse;
  margin-bottom: 30px;
}

.table-content th,
td {
  border-bottom: 1px solid #999;
  padding: 8px 20px;
}

.edit-button {
  margin-right: 5px;
  background-color: #218838;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.delete-button {
  background-color: #c82333;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.form-buah {
  border: 1px solid black;
  height: 100%;
}

label {
  font-weight: bold;
}
.box {
  padding: 10px 20px;
}
.box input {
  float: right;
}

#button-submit {
  position: relative;
  left: 90%;
  margin-bottom: 30px;
}

.image-data {
  position: relative;
  left: 326px;
  margin-bottom: 100px;
}
