<form action="" class="">
  <p class="form-inline"><b>Nama </b> <input /></p>
  <br />
  <p class="form-inline"><b> Email</b> <input /></p>
  <br />
  <p class="form-inline">
    <b>Jenis Kelamin </b>
    <label class="block"
      ><input type="radio" name="radgroup" value="A" />Option A</label
    ><br />
    <label class="block"
      ><input type="radio" name="radgroup" value="B" />Option B</label
    >
  </p>
  <br />
  <p class="form-inline">
    <b>Pesan Anda </b
    ><textarea id="w3review" name="w3review" rows="4" cols="50">
      At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.
      </textarea
    >
  </p>
</form>
