<section class="form-inline">
  <p class="form-text">Nama</p>
  <input />
</section>
<section class="form-inline">
  <p class="form-text">Email</p>
  <input />
</section>
<section class="form-inline">
  <p class="form-text">Jenis kelamin</p>
  <div class="sex-option">
    <input type="radio" id="html" name="fav_language" value="HTML" />
      <label for="html">HTML</label><br />
      <input type="radio" id="css" name="fav_language" value="CSS" />  
    <label for="css">CSS</label><br />
     
    <input
      type="radio"
      id="javascript"
      name="fav_language"
      value="JavaScript"
    />
      <label for="javascript">JavaScript</label>
  </div>
</section>
<section class="form-inline">
  <p class="form-text">Pesan Anda</p>
  <textarea id="" name="" rows="4" cols="50">
 TESSSSSSSSSR
      </textarea
  >
</section>
