body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1 !important;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  padding: 10px 10px;
  background-color: white;
  margin-bottom: 111px;
  position: relative;
  top: 100px;
  /* margin-bottom: 500px; */
}

.content {
  width: 100%;
}

.searcbox {
  position: relative;
  bottom: 15px;
}

.footer {
  background-color: black;
  border-top: 1px solid blue;
  text-align: center;
  padding: 9px;
  /* position: fixed; */
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
}
.footer p {
  color: white;
}

.description {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-button {
  margin-right: 5px;
  background-color: rgb(156, 156, 8);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.delete-button {
  background-color: #c82333;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}
