.container {
  margin: 0 auto;
  width: 80%;
}
.main {
  border: 1px solid;
  margin-bottom: 40px;
}
.list-peserta {
  line-height: 5px;
}
.text {
  text-align: center;
}
.button-index {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
