.container {
  margin: 0 auto;
  width: 80%;
}
.main {
  border: 1px solid;
  margin-bottom: 40px;
  padding-left: 10px;
}

.text {
  text-align: center;
}

.text-top p {
  line-height: 5px;
}

/* .form-inline {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 0px;
} */
.parent {
  display: flex;
  flex-direction: row;
}

.child2 input {
  /* padding-left: 8px; */
  margin-bottom: 7px;
  margin-left: 79px;
  margin-top: 10;
}
.child2 textarea {
  padding-left: 8px;
  margin-bottom: 7px;
  margin-left: 79px;
  margin-top: 10;
}
.block {
  display: block;
}
.button-contact {
  cursor: pointer;
  text-decoration: none;
  color: black;
  margin-bottom: 10px;
}
.pesan-anda {
  position: relative;
  top: 90px;
}

.button-index {
  cursor: pointer;
  text-decoration: none;
  color: black;
}
