.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  position: sticky;
  top: 0;
  /* margin-bottom: 10px; */
  width: 100%;
  z-index: 99999;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}
.navigation a {
  text-decoration: none;
}
.navigation li {
  display: inline;
  padding: 10px;
  text-align: center;
  /* color: red; */
  text-decoration: none;
}
.container {
  background-image: url("../public/pattern.jpg");
}

.sub-container {
  width: 800px;
  margin: 0 auto;
  /* margin-top: 10px; */
}

.main {
  /* border: violet solid 1px; */
  /* margin-top: 1px; */
  padding-top: 10px;
  position: relative;
  top: 20px;
  background-color: white;
}

#article-list {
  padding: 10px;
}
#article-list a {
  text-decoration: none;
}

#article-list-sub {
  border-bottom: 1px solid #aaa;
  padding-bottom: 28px;
}

footer {
  /* margin-top: auto; */
  position: sticky;
  bottom: 0;
  /* margin-bottom: 10px; */
  width: 100%;
  z-index: 99999;
  background-color: black;
  height: 50px;
}

.footer-list {
  display: table;
  position: relative;
  top: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.footer-list h5 {
  color: white;
}
/* footer h5 {
  color: white;
  text-align: center;
} */
