.site-layout-content {
  min-height: 280px;
  padding: 80px;
  background: #fff;
  top: 80px;
}
.header-list {
  display: flex;
  justify-content: space-between;
}

.header-list h3 {
  color: blue;
  cursor: pointer;
}
.header-list h3:hover {
  text-decoration: underline;
}
.description {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.detail-info p {
  line-height: 12px;
}

.admin-movie-container {
  border: 1px solid black;
  padding: 20px 44px;
  margin-bottom: 20px;
}

.edit-button {
  margin-right: 5px;
  background-color: rgb(156, 156, 8);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.delete-button {
  background-color: #c82333;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.header-menu-admin {
  min-height: 280px;
  padding: 18px;
  background: #fff;
  width: 268px;
  top: 80px;
}
.header-menu-admin h2 {
  width: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
