.container {
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  background-color: lightblue;
  height: 50px;
  width: 100%;
  top: 0;
  padding: 10px 20px;
  color: black;
}
.header-nav-dark {
  display: flex;
  justify-content: space-between;
  background-color: rgb(20, 2, 2);
  color: white;
  height: 50px;
  top: 0;
  padding: 10px 20px;
}
.menu li {
  display: inline;
  padding: 10px;
  text-align: center;
  /* color: red; */
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
}

.button-nav {
  position: relative;
  float: right;
}
.table-content {
  margin: 0 auto;
  color: #232323;
  border-collapse: collapse;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.table-content th,
td {
  border-bottom: 1px solid #999;
  padding: 8px 20px;
}

.edit-button {
  margin-right: 5px;
  background-color: #218838;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.delete-button {
  background-color: #c82333;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.form-mahasiswa {
  border: 1px solid black;
  height: 100%;
  margin-bottom: 30px;
}

label {
  font-weight: bold;
}
.box {
  padding: 10px 20px;
}
.box input {
  float: right;
}

#button-submit {
  position: relative;
  left: 90%;
  margin-bottom: 30px;
}

.image-data {
  position: relative;
  left: 326px;
  margin-bottom: 100px;
}

#last-child {
  position: relative;
  left: 50px;
}
