.container {
  width: 900px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}

#edit-button {
  margin-right: 5px;
  background-color: rgb(156, 156, 8);
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

#delete-button {
  background-color: #c82333;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  cursor: pointer;
}

.form-mahasiswa {
  border: 1px solid black;
  height: 100%;
  margin-bottom: 30px;
}

label {
  font-weight: bold;
}
.box {
  padding: 10px 20px;
}
.box input {
  float: right;
}

#button-submit {
  position: relative;
  left: 90%;
  margin-bottom: 30px;
}

.image-data {
  position: relative;
  left: 326px;
  margin-bottom: 100px;
}
