.container-app {
  margin: 0 auto;
  width: 480px;
  height: 100%;
  background-color: white;
  box-shadow: -3px -12px 22px -9px rgba(0, 0, 0, 0.71);
  -webkit-box-shadow: -3px -12px 22px -9px rgba(0, 0, 0, 0.71);
  -moz-box-shadow: -3px -12px 22px -9px rgba(0, 0, 0, 0.71);
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
}
.logo-app {
  position: relative;
  left: 60px;
}

.header {
  border-bottom: 1px solid #c0c0c0;
  margin-bottom: 20px;
}

.header h2 {
  color: gray;
  line-height: 1px;
}

.button-submit {
  background-color: #00c8ff;
  border: none;
  width: 100%;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.button-submit:active {
  background-color: red;
}

.main-content {
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.main-content label {
  cursor: pointer;
}

.main-content input {
  margin-right: 10px;
  border: none;
}
