.navigation {
  background-color: white;
  position: fixed;
  z-index: 1;
  height: 50px;
  width: 100%;
  margin: 0 auto;
  padding: 37px 97px;
  margin-bottom: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

/* .navigation {
  
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 2rem;
  overflow: hidden;
  z-index: 1;
  width: 100%;
  margin: auto;
  top: 0;
  /* border-bottom: solid 1px var(--primary-color); */
/* opacity: 0.9;

  position: fixed;
  top: 0; */

/* box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.25); */
